.env
__pycache__/
*.pyc

# Ignore personal university folders
Exam/
Lecture/
Tutorial/
Assignment/

# Ignore all data by default
data/*
!data/processed/

# Ignore contents of processed except the one file
data/processed/*
!data/processed/gold_master_data.csv

!data/output/
data/output/*
!data/output/fina2350_master_dataset_for_rag.csv
!data/output/volatility_comparison.png
!data/output/garch_results_summary.txt
!data/output/actual_volatility.csv

