.env
__pycache__/
*.pyc

# Ignore personal university folders
Exam/
Lecture/
Tutorial/
Assignment/

# Ignore all data by default
data/*
!data/processed/

# Ignore contents of processed except the one file
data/processed/*
!data/processed/gold_master_data.csv

!data/output/
data/output/*
!data/output/garch_volatility_results.csv
!data/output/volatility_comparison.png

